{% for i in range(currency2|length) %}
 <!-- {% if currency2[i]['Value'] == currency1[i]['Value'] %}
                                        <td><i class="fa-solid fa-right-left"></i></td>
                                    {% elif currency2[i]['Value'] >  currency1[i]['Value']%}
                                        <td><i class="fa-solid fa-arrow-up"></i></td>
                                    {% else %}
                                        <td><i class="fa-sharp fa-solid fa-arrow-down"></i></td>
                                    {% endif %}
                                     -->